<h1>Hello <%= @patient.firstname %> <%= @patient.lastname %>,</h1>
<p>Your consultation room link is: <strong><a href="http://localhost:4200/live/<%= @room_code %>">Join Consultation</a></strong></p>
<p>Best regards,</p>
<p><%= @doctor.firstname %> <%= @doctor.lastname %></p>
